
@{
    ViewBag.Title = "Add";
}

<!doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from preview.colorlib.com/theme/onedu/courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Mar 2021 14:04:49 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Thêm học phần mới</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/Assets/img/icon/favicon.png">

    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Assets/css/slicknav.css">
    <link rel="stylesheet" href="/Assets/css/flaticon.css">
    <link rel="stylesheet" href="/Assets/css/animate.min.css">
    <link rel="stylesheet" href="/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/Assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/Assets/css/themify-icons.css">
    <link rel="stylesheet" href="/Assets/css/slick.css">
    <link rel="stylesheet" href="/Assets/css/nice-select.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
    <link rel="stylesheet" href="/Assets/css/main.css">
</head>

<body>
    <header class="quiz-add-sticky">
        <div class="header-area">
            <div class="main-header ">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="left-content d-flex align-items-center">
                            <div class="logo">
                                <a href="/Home/Index"><img src="/Assets/img/logo/logo.png" alt=""></a>
                            </div>

                            <form action="/Quiz/Search" class="form-box">
                                <input type="text" name="Search" placeholder="Search courses..">
                                <div class="search-icon">
                                    <i class="ti-search"></i>
                                </div>
                            </form>
                        </div>

                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/Home/Index2">Trang chủ</a></li>
                                    <li><a href="/Quiz/Course">Thư viện của bạn</a></li>

                                    <li>
                                        <a href="/Quiz/Add" class="quiz-add"> Học phần mới </a>
                                    </li>
                                    <li>
                                        <a href="/User/Login" class="btn header-btn2">Sign In</a>

                                    </li>
                                    <li>
                                        <a href="/User/Register" class="btn header-btn2">Sign Up</a>

                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>


        <div class="row  quiz-add-header-sticky">
            <div class="col-sm-6 col-md-6 quiz-add-header">
                <h3>Tạo học phần mới</h3>
                <p><span id="term-amount">2</span> thuật ngữ</p>
            </div>
            <div class="col-sm-6 col-md-6">
                <button class="btn quiz-add-button">Tạo</button>
            </div>
        </div>
        <section class="popular-directorya-area  fix">
            <div class="container">
                <!-- main-header header-sticky -->

                <div class="row container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="quiz-add-header-field">
                                <input type="text" name="" id="quiz-add-header" placeholder="Nhập tiêu đề - ví dụ VNI">
                                <label for="">Tiêu đề</label>
                            </div>
                            <div class="quiz-add-header-field">
                                <input type="text" name="" id="quiz-add-description"
                                       placeholder="Nhập mô tả - Việt Nam thật đẹp">
                                <label for="">Mô tả</label>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>

                    <div class="row quiz-add-option">
                        <div class="col-sm-6">
                            <!-- <a type="button" href="#" data-bs-toggle="modal" data-bs-target="#quiz-add-modal">+ Nhập
                                thông qua văn bản</a> -->
                        </div>
                        <div class="col-sm-6 quiz-add-access">
                            <div>
                                Hiển thị với <select name="quiz-access" id="quiz-access">
                                    <option value="">Tất cả mọi người</option>
                                    <option value="">Bất cứ ai có link</option>
                                    <option value="">Chỉ mình tôi</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="quiz-add-container" id="quiz-add-container">

                        <div class="row quiz-add-item">
                            <div class="row quiz-add-item-control">
                                <div class="col-sm-12 col-md-6 quiz-item-count">
                                    <h3>1</h3>
                                </div>
                                <div class="col-sm-12 col-md-6 quiz-item-delete">
                                    <button disabled title="Xóa thuật ngữ"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 quiz-add-input-field">
                                    <input type="text" name="" placeholder="">
                                    <label for="">Thuật ngữ</label>
                                </div>
                                <div class="col-sm-12 col-md-6 quiz-add-input-field">
                                    <input type="text" name="" placeholder="">
                                    <label for="">Định nghĩa</label>
                                </div>
                            </div>

                        </div>

                        <div class="row quiz-add-item">
                            <div class="row quiz-add-item-control">
                                <div class="col-sm-12 col-md-6 quiz-item-count">
                                    <h3>2</h3>
                                </div>
                                <div class="col-sm-12 col-md-6 quiz-item-delete">
                                    <button disabled title="Xóa thuật ngữ"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 quiz-add-input-field">
                                    <input type="text" name="" placeholder="">
                                    <label for="">Thuật ngữ</label>
                                </div>
                                <div class="col-sm-12 col-md-6 quiz-add-input-field">
                                    <input type="text" name="" placeholder="">
                                    <label for="">Định nghĩa</label>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row quiz-add-item-button">
                        <button class="btn" id="quiz-add-item-button">+ Thêm Thẻ</button>
                    </div>
                </div>

            </div>

        </section>

    </main>
    <footer>
        <div class="footer-area ">
            <div class="footer-wrapper ">

                <div class="footer-bottom-area">
                    <div class="container">
                        <div class="footer-border">
                            <div class="row d-flex align-items-center">
                                <div class="col-xl-12 ">
                                    <div class="footer-copy-right text-center">
                                        <p>
                                            Copyright &copy;
                                            <script>document.write(new Date().getFullYear());</script> All rights
                                            reserved | This template is made with <i class="fa fa-heart color-danger"
                                                                                     aria-hidden="true"></i> by <a href="https://colorlib.com/"
                                                                                                                   target="_blank" rel="nofollow noopener">Colorlib</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="back-top">
        <a class="wrapper" title="Go to Top" href="#">
            <div class="arrows-container">
                <div class="arrow arrow-one">
                </div>
                <div class="arrow arrow-two">
                </div>
            </div>
        </a>
    </div>


    <script src="/Assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/Assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/Assets/js/popper.min.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>

    <script src="/Assets/js/owl.carousel.min.js"></script>
    <script src="/Assets/js/slick.min.js"></script>
    <script src="/Assets/js/jquery.slicknav.min.js"></script>

    <script src="/Assets/js/wow.min.js"></script>
    <script src="/Assets/js/jquery.magnific-popup.js"></script>
    <script src="/Assets/js/jquery.nice-select.min.js"></script>
    <script src="/Assets/js/jquery.counterup.min.js"></script>
    <script src="/Assets/js/waypoints.min.js"></script>

    <script src="/Assets/js/contact.js"></script>
    <script src="/Assets/js/jquery.form.js"></script>
    <script src="/Assets/js/jquery.validate.min.js"></script>
    <script src="/Assets/js/mail-script.js"></script>
    <script src="/Assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="/Assets/js/plugins.js"></script>
    <script src="/Assets/js/quiz-add.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/onedu/courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Mar 2021 14:04:49 GMT -->

</html>

