
@{
    ViewBag.Title = "Learn";
}

<!doctype html>
<html class="no-js" lang="zxx">

<!-- Mirrored from preview.colorlib.com/theme/onedu//Quiz/Course by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Mar 2021 14:04:49 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>VNI101</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/Assets/img/icon/favicon.png">

    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Assets/css/slicknav.css">
    <link rel="stylesheet" href="/Assets/css/flaticon.css">
    <link rel="stylesheet" href="/Assets/css/animate.min.css">
    <link rel="stylesheet" href="/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/Assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/Assets/css/themify-icons.css">
    <link rel="stylesheet" href="/Assets/css/slick.css">
    <link rel="stylesheet" href="/Assets/css/nice-select.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
    <link rel="stylesheet" href="/Assets/css/main.css">
</head>

<body>
    <header>
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="left-content d-flex align-items-center">
                            <div class="logo">
                                <a href="/Home/Index"><img src="/Assets/img/logo/logo.png" alt=""></a>
                            </div>

                            <form action="/Quiz/Search" class="form-box">
                                <input type="text" name="Search" placeholder="Search courses..">
                                <div class="search-icon">
                                    <i class="ti-search"></i>
                                </div>
                            </form>
                        </div>

                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/Home/Index2">Trang chủ</a></li>
                                    <li><a href="/Quiz/Course">Thư viện của bạn</a></li>

                                    <li>
                                        <a href="/Quiz/Add" class="quiz-add"> Học phần mới </a>
                                    </li>
                                    <li>
                                        <a href="/User/Login" class="btn header-btn2">Sign In</a>
                                    </li>
                                    <li>
                                        <a href="/User/Register" class="btn header-btn2">Sign Up</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="sticky-left d-sm-block">
            <div class="row text-center quiz-learn-back">
                <a href="/Quiz/Quiz"><i class="fas fa-arrow-left"></i>Back</a>
            </div>
            <div class="row text-center quiz-setting">
                <h4>Setting</h4>
            </div>

            <div class="row quiz-setting">
                <div class="col-sm-10"><label>Trả lời bằng: </label></div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row quiz-setting">
                <table class="quiz-form-type">
                    <tr>
                        <td><input type="radio" name="quiz-type" id="quiz-type-term" value="1" /></td>
                        <td> <label id="quiz-amount-number">Thuật ngữ</label></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="quiz-amount-input" name="quiz-type" id="quiz-type-definition"
                                   value="0" checked />
                        </td>
                        <td><label id="quiz-amount-number">Định Nghĩa</label></td>
                    </tr>
                </table>

            </div>

            <div class="row quiz-setting">
                <div class="col-sm-10"><label>Thống kê</label></div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row quiz-learn-statistic">
                <table class="quiz-table-statistic">
                    <tr>
                        <td>Thành thạo</td>
                        <td style="color: green;">10</td>
                    </tr>
                    <tr>
                        <td>Đang học</td>
                        <td style="color: rgb(158, 226, 158);">2</td>
                    </tr>
                    <tr>
                        <td>Chưa Học</td>
                        <td style="color: rgb(0, 0, 0);">12</td>
                    </tr>
                    <tr>
                        <td>Cần chú ý</td>
                        <td style="color: red;">1</td>
                    </tr>
                </table>
            </div>

            <div class="row quiz-setting">
                <div class="col-sm-10"><label>Quá trình</label></div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row quiz-setting">
                <h3 class="quiz-result" id="quiz-result">
                    0%
                </h3>

            </div>

            <div class="row quiz-setting">
                <button class="btn quiz-retake-button" id="btn-retake-quiz">Bắt đầu lại</button>

            </div>

        </section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-1">

                </div>
                <div class="col-sm-12 col-md-10" id="question-box">

                </div>
                <div class="col-sm-12 col-md-1">

                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="result">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="quiz-modal-result">

                    </div>
                </div>
            </div>
        </div>


    </main>


    <script src="/Assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/Assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/Assets/js/popper.min.js"></script>
    <script src="/Assets/js/bootstrap.min.js"></script>

    <script src="/Assets/js/owl.carousel.min.js"></script>
    <script src="/Assets/js/slick.min.js"></script>
    <script src="/Assets/js/jquery.slicknav.min.js"></script>

    <script src="/Assets/js/wow.min.js"></script>
    <script src="/Assets/js/jquery.magnific-popup.js"></script>
    <script src="/Assets/js/jquery.nice-select.min.js"></script>
    <script src="/Assets/js/jquery.counterup.min.js"></script>
    <script src="/Assets/js/waypoints.min.js"></script>

    <script src="/Assets/js/contact.js"></script>
    <script src="/Assets/js/jquery.form.js"></script>
    <script src="/Assets/js/jquery.validate.min.js"></script>
    <script src="/Assets/js/mail-script.js"></script>
    <script src="/Assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="/Assets/js/plugins.js"></script>
    <script src="/Assets/js/main.js"></script>
    <script src="/Assets/js/quiz-learn.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/onedu//Quiz/Course by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Mar 2021 14:04:49 GMT -->

</html>

